/* the --color-header and others are CSS variables, which we access later. 
*/

HTML {
    --color-header: #0d562c;  /* color for H1-H6 and others. was deepskyblue but poor contrast. */
    --color-flash: #f60404;
    --color-flashborder: #FFB6C1; /* was red, but this avoids WAVE contrast errors */ 
    --color-focus: #56B929;
    --font-family: Monaco;
    --border-style: solid dotted dotted dotted;
    font-family: var(--font-family)
}

/* For flashed messages; make them stand out using red and italics */

#messages p {
    color: var(--color-flash);
    font-style: italic;
    border-style: var(--border-style);
    border-color: var(--color-flashborder); 
    border-width: 1px;
}


h1 {
    font-size: 200%;
    text-indent: 1em;
    color: var(--color-header);
    border-style: var(--border-style);
}

h2, h3 {
    color: var(--color-header);

}
    
#navigation ul {
    
    border-style: var(--border-style);
    border-color: gray; 
    border-width: 1px;
}
#navigation ul li a{
    color: rgb(71, 139, 97);
}
#navigation ul li {
    color: rgb(71, 139, 97);
    font-size: 14px;
    font-style: italic;
}


[type = submit]{
    border : var(--color-focus);
    background-color: #bfdcb2;
}



/* for a simple navbar. Talk to Scott if you want drop-downs. */
nav > ul {
    display: flex;
    flex-direction: row;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav > ul > li {
    flex: 0 0 auto;
    width: 15em; 
}

nav button, nav a {
    display: block;
    box-sizing: border-box; /* easier to make button and A the same size */
    width: 100%;
    height: 40px;
    padding: 0px;
    padding-bottom: 5px;
    background-color: var(--color-header); /* was #3498db */
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    /* Firefox uses font -apple-system unless I repeat the font spec here. */
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 1.4rem;
}

/* Only the top-level buttons are centered; lower ones are left-aligned. */
nav > ul > li > button , nav > ul > li > a {
    text-align: center;
}

/* because of the margin trick, this can only be used for the last element */

nav li.right {
    margin-left: auto;
}

nav button:hover, button:focus, nav a:hover, nav a:focus {
    background-color: var(--color-focus);
}

