{% extends "head.html" %}

{% block main_content %}

<h1>Select Movie</h1>

<form method=POST action="{{ url_for('select') }}">
    <label for="menu-tt">Movies without release dates or directors:</label>
    <select id="menu-tt" name="menu-tt">
        <option value="">Choose One</option>
        {% for movie in result %}
            <option value="{{ movie.tt }}">{{movie.title}}</option>
        {% endfor %}
    </select>
    <input type="submit" name="submit-btn" value="Choose">
</form>

{% endblock %}
